.Logo-box {
    /* justify-content: center; */
    /* flex-direction: column; */
    /* display: flex;
    height: 40vh; */
    /* width: 80vw; */
    /* flex-direction: column; */
    margin: 0 auto;
    border: 9px solid black;
    width: 60vw;
    height: 22vh;
    background-color: white;
    box-shadow: 0 10px 6px -6px #777;
}
.Logo {
    margin-top: -35px;
    padding: 0;
    /* margin-top: 0 auto; */
   
}